@charset 'utf-8';

.alignL {text-align:left !important;}
.alignC {text-align:center !important;}
.alignR {text-align:right !important;}
.pointBlue2{color:#31a3e9 !important}

.mg0 {margin:0 !important;}
.mgl0 {margin-left:0px !important;}
.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
.mgl15 {margin-left:15px !important;}
.mgl20 {margin-left:20px !important;}
.mgl25 {margin-left:25px !important;}
.mgl30 {margin-left:30px !important;}
.mgl70 {margin-left:70px !important;}
.mgl103 {margin-left:103px !important;}
.mgb0 {margin-bottom:0px !important;}
.mgb5 {margin-bottom:5px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgt0 {margin-top:0px !important;}
.mgt3 {margin-top:3px !important;}
.mgt4 {margin-top:4px !important;}
.mgt5 {margin-top:5px !important;}
.mgt7 {margin-top:7px !important;}
.mgt8 {margin-top:8px !important;}
.mgt10 {margin-top: 10px !important;}
.mgt15 {margin-top: 15px !important;}
.mgt20 {margin-top: 20px !important;}
.mgt25 {margin-top: 25px !important;}
.mgt30 {margin-top: 30px !important;}
.mgt35 {margin-top: 35px !important;}
.mgt40 {margin-top: 40px !important;}
.mgt50 {margin-top: 50px !important;}
.mgt100 {margin-top: 100px !important;}
.mgt130 {margin-top: 130px !important;}

/* 이용약관 */
.agree_cont02 {background:#fff; padding:0; font-size:13px;overflow:auto;}
.agree_cont02 ol + h1, .agree_cont02 ul + h1, .agree_cont02 p + h1 {margin-top:10px !important;}
.agree_cont02 h1 + h2 {margin-top:0;}
.agree_cont02 h1 {margin-bottom:5px !important;font-size:15px; border-bottom:none; height:auto; line-height:normal; text-align:left; padding:0;}
.agree_cont02 h2,
.agree_cont02 h3 {margin-top:7px;margin-bottom:5px;font-size:13px;}
.agree_cont02 ol, .agree_cont02 ul, .agree_cont02 p {margin-left:0;} /* 18.08.28 수정 */
.agree_cont02 ol li {margin-top:3px;}
.agree_cont02 ol li:first-child {margin-top:0;}
.agree_cont02 ul li {color:#666; text-indent:0; background:url('../images/svg/bul_step_para2.svg') no-repeat left 8px;padding-left:10px;margin-top:3px}
.agree_cont02 ul li:first-child {margin-top:0;}

.agree_cont02 .line{border-bottom:1px solid #777;display:table-cell;margin-bottom:10px}/*181016*/
.agree_cont02 .checkbox label{font-size:12px}/*181016*/
.agree_cont02 .checkbox input[type=radio]{width:16px;height:16px;background-size:16px;}/*181016*/
.agree_cont02 .checkbox input[type=checkbox]{width:16px;height:16px;background-size:16px;}/*181016*/
.agree_cont02 .checkbox p{margin-bottom:5px}/*181016*/
.agree_cont02 .sign{margin-top:10px;text-align:right;} /*181016*/
.agree_cont02 .sign .date span{margin-left:30px}/*181016*/
.agree_cont02 .sign .name{display:inline-block;border-bottom:1px solid #777;margin-top:10px;}/*181016*/
.agree_cont02 .sign .name span+span{margin-left:100px}/*181016*/
.agree_cont02 .ct{text-indent:-10px;margin-left:10px;margin-bottom:5px}/*181018*/
.agree_cont02 .cb {text-indent:-10px;margin-left:10px;margin-bottom:10px }/*181018*/

/* .tb_content2{width:100%}
.tb_content2 th, .tb_content2 td{border:solid 1px #ddd;padding:9px 15px 8px 15px;text-align:center }
.tb_content2.sm th, .tb_content2.sm td{border:solid 1px #ddd;padding:9px 4px 8px 
                                                                     4px;text-align:center }
.tb_content2 th{color:#555;background-color:#f7f7f7}
.tb_content2 td{color:#333;} */

.agree_cont02 table{width:100%;margin:20px 0;}
.agree_cont02 table thead tr:first-child{border-top:1px solid #ddd;}
.agree_cont02 table tbody tr:first-child{border-top:1px solid #ddd;}
.agree_cont02 table tr{border-bottom:1px solid #ececec;}
.agree_cont02 table tr th{padding:16px 5px;border-right:1px solid #ececec;background-color:#f7f7f7;font-size:14px;font-weight:500;color:#666;text-align:center;vertical-align:middle;}
.agree_cont02 table tr td{padding:16px 5px;border-right:1px solid #ececec;font-size:14px;font-weight:500;color:#333;text-align:center;vertical-align:middle;line-height:21px;}
.agree_cont02 table tr th.lt,
.agree_cont02 table tr td.lt{text-align:left;}
.agree_cont02 table tr th.rt,
.agree_cont02 table tr td.rt{text-align:right;}
.agree_cont02 table tr th:last-child{border-right:0 none;}
.agree_cont02 table tr td:last-child{border-right:0 none;}
.agree_cont02 table tr td.bd{border-right:1px solid #ececec;}
.agree_cont02 table tr td .txt{margin-bottom:0;}
.agree_cont02 .tbl li{margin:0;}